<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>My page</title>
		<link rel="stylesheet" href="/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p><!-- Formulario --></p>
					<h1>Formulario de login</h1>
	
					<form action="login" method="post">
						Name:<br> <input type="text" name="name" required><br><br>
						Password:<br> <input type="text" name="pass" required><br>
						<input type=submit value=Enviar>

					</form>
				</div>
				<div class="col-md-6">
				<p><!-- Texto por defecto --></p>
					<h1>Datos random interesantes</h1>
					<p>Los aguacates son una fruta, no una verdura. Técnicamente se consideran una baya de una sola semilla, lo creas o no.
						La Torre Eiffel puede ser 15 cm más alta durante el verano. Todo tiene una explicación, se debe a la expansión térmica que significa que el hierro se calienta, las partículas ganan energía cinética y ocupan más espacio.
						La tripofobia es el miedo a los agujeros muy juntos. O más específicamente, "una aversión a la vista de patrones irregulares o grupos de pequeños agujeros o protuberancias".
						Australia es más ancha que la Luna. La Luna tiene 3400 km de diámetro, mientras que el diámetro de Australia de este a oeste es de casi 4000 km.
						'Melifluo' es un sonido que resulta agradablemente suave y musical al escucharlo.
						Las Spice Girls se llamaban originalmente Touch. "Cuando empezamos [con el nombre Touch], éramos bastante sosas", dijo Mel C a The Guardian en 2018. "Sentíamos que teníamos que encajar en un molde".
						Los dientes humanos son la única parte del cuerpo que no puede curarse por sí misma. Los dientes están recubiertos de esmalte, que no es un tejido vivo.
						En Suiza es ilegal tener una sola cobaya.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>